html,
body {
  height: 100%;
}

body {
  /* --padding-w: 120px;
  --logo-w: 113px;
  --userbar-w: 122px; */

  font-family: "Roboto", sans-serif;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  row-gap: 30px;
}

.container,
.footer {
  padding: 0 120px;
}

.header {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.header__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 30px;
  height: 40px;
  background-color: #313131;
  padding: 0 120px;
}

.header__top-link {
  text-decoration: none;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.header__top-link.telephone {
  margin-left: auto;
}

.header__search,
.header__menu {
  margin: 0 120px;
}

.header__search {
  display: flex;
  align-items: center;
  height: 50px;
  /* border: 1px solid black; */
}

.header__search-input {
  display: flex;
  width: 100%;
  margin: 0 20px;
}

.header__search-input input {
  /* width: calc(
    100vw - var(--logo-w) - var(--userbar-w) - var(--padding-w) * 2 - 40px * 2
  ); */
  flex-basis: auto;
  flex-grow: 1;
  padding: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.header__userbar {
  width: 112px;
  min-width: 112px;
  height: 30px;
  border: 1px solid black;
}

.header__menu {
  height: 70px;
  border: 1px solid black;
}

.container__slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__slider-slide img {
  height: auto;
  width: 100%;
  min-height: 350px;
  max-width: 1140px;
}

.container__content-articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 30px;
}

.container__article {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  height: 380px;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.container__article:hover {
  box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.11);
}

.container__article-like {
  display: flex;
  justify-content: flex-end;
  padding: 0 25px;
  height: 70px;
}

.container__article-wrapper-img {
  align-self: center;
  height: 150px;
  width: 100%;
}

.container__article-img {
  height: 100%;
  width: auto;
  margin: 0 30px;
  background-image: url("./images/product_1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  /* border: 2px solid black; */
}

.container__article-info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 50px;
}

.container__article-info-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.container__article-info-subtitle {
  margin-top: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}

.container__article-info-value {
  margin-top: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.footer {
  height: 235px;
  border: 1px solid black;
  margin-top: auto;
}
